@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(45deg, #131086, #b621f3);
  padding: 40px;
}

.container {
  min-height: calc(100vh - 40px * 2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border-radius: 10px;
  overflow: hidden;
}

.login-left {
  border-radius: 20px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 150px;
  background-color: whitesmoke;
}

.login-right {
  border-radius: 0px 20px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
}

.login-right img {
  width: 80%;
}

.login-header {
  margin-bottom: 50px;
}

.login-header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.login-header p {
  opacity: 0;
}

.login-form {
  width: 450px;
}

.login-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.login-form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.login-form-footer a {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  gap: 15px;
  border: 1px solid black;
  border-radius: 100px;
  padding: .6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: none;
}

.login-form-footer a:hover {
  background-color: whitesmoke;
}

.form-item label:not(.checkboxlabel) {
  display: inline-block;
  background-color: whitesmoke;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  -webkit-transform: translate(30px, -10px);
          transform: translate(30px, -10px);
  font-size: 14px;
  font-weight: bold;
}

input[type='text'],
input[type='password'] {
  background-color: whitesmoke;
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  translate: background .5s;
  font-size: 18px;
  border-radius: 100px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: #131086;
}

button {
  border: none;
  background: linear-gradient(45deg, #131086, #b621f3);
  color: whitesmoke;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 1350px) {
  .login-left {
    padding: 50px !important;
  }
  .login-form {
    width: 100%;
  }
  .login-formfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .login-right {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */